/*PŘIDAT*/
.přidat_background{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.přidat_main{
    width: 50%;
    height: 50%;
    background: gray;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}